.container-add{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  color: #000;
}

.task-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.task.item{
  display: flex;
  gap: 5px;
}